<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Grock VTU - Cheap Data and Airtime</title>
    <meta content="" name="description">
    <meta content="sme data, cheap data, mtn sme data, Grock VTU, mymtn, free data, data business, " name="keywords">
    <link href="images/grock-logo.jpeg" rel="icon">
    <link href="images/grock-logo.jpeg" rel="apple-touch-icon">

    <link href="css/css.css" rel="stylesheet">

    <link href="css/aos.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link href="css/boxicons.min.css" rel="stylesheet">
    <link href="css/glightbox.min.css" rel="stylesheet">
    <link href="css/remixicon.css" rel="stylesheet">
    <link href="css/swiper-bundle.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <style>
        #hero{
            width: 100%;
            background: url(images/myvtumap.png) top center no-repeat;
            background-size: cover;
        }
        [data-aos^=zoom][data-aos^=zoom].aos-animate {
            opacity: 1;
            transform: translateZ(0) scale(1);
        }
        .clients {
            /*background: #009944;*/
            padding: 10px 0;
            text-align: center;
        }
        .clients img {
            width: 50%;
            filter: unset;
        }
        #hero h1 {
            color: #333333;
            font-size: 42px;
        }
        .dtext{
            font-size: 30px;
            line-height: 42px;
            font-weight: 700;
        }
        .registerbtn{
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 10px 40px;
            border-radius: 50px;
            transition: 0.5s;
            color: #009944;
            border: 2px solid #fff;
            background: #fff !important;
        }

        .registerbtn:hover{
            color: #009944;
        }
    </style>
</head>
<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
<header id="header" class="fixed-top d-flex align-items-center header-scrolled">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <h1><a href="/"><img class="img-fluid" alt="logo" src="images/grock-logo.jpeg" style="max-height: 60px;"></a></h1>
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto active" href="#contact">Contact</a></li>
                <li><a class="getstarted scrollto" href="/register">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up" class="aos-init aos-animate">Instant Data Plans at the cheapest price</h1>
                <h2 data-aos="fade-up" data-aos-delay="400" style="color: #009944; line-height: 1.6em;margin-bottom: 30px; font-size: 22px;" class="aos-init aos-animate">Enjoy an affordable and stable data bundle for yourself with instant delivery on all network.</h2>
                <div data-aos="fade-up" data-aos-delay="800" class="aos-init aos-animate">
                    <a href="/register" class="btn-get-started scrollto" style="border-radius: 0; margin-right: 15px;">Get Started</a>
                    <a href="/login" class="btn-get-started scrollto px-5" style="background: #009944; color: #fff; border-radius: 0;">Login</a>
                </div>
                <div class="app-btn my-3">
                    
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="fade-left" data-aos-delay="200">
                <img src="images/apphone.jpg" class="img-fluid animated" alt="Grock VTU">
            </div>
        </div>
    </div>
</section>
<main id="main">

    <section id="clients" class="clients clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6">
                    <img src="images/mtn.png" class="img-fluid aos-init aos-animate" alt="Grock VTU" data-aos="zoom-in">
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <img src="images/glo-logo.png" class="img-fluid aos-init aos-animate" alt="Grock VTU" data-aos="zoom-in" data-aos-delay="100">
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <img src="images/airtel-logo.png" class="img-fluid aos-init aos-animate" alt="Grock VTU" data-aos="zoom-in" data-aos-delay="200">
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <img src="images/9mobile.png" class="img-fluid aos-init aos-animate" alt="Grock VTU" data-aos="zoom-in" data-aos-delay="300">
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <img src="images/dstv_logo.png" class="img-fluid aos-init aos-animate" alt="Grock VTU" data-aos="zoom-in" data-aos-delay="400">
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <img src="images/gotv-logo.png" class="img-fluid aos-init aos-animate" alt="Grock VTU" data-aos="zoom-in" data-aos-delay="500">
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="container">
            <div class="section-title aos-init aos-animate" data-aos="fade-up">
                <h2>About Us</h2>
            </div>
            <div class="row content">
                <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="150">
                    <p style="font-size: 20px; text-align: justify;">Grock VTU is a reliable VTU vending platform for cheap, instant and secure databundle and airtime recharges, payment of utility bills in Nigeria.
                    </p><p style="font-size: 20px; text-align: justify;">No more worries on data purchase or usage. Get an cheap and stable data bundle for yourself with instant delivery on all network.</p>
                    <p style="font-size: 20px; text-align: justify;">Spend less on airtime recharges to your phone and loved ones with at least 2% cash back on every transaction you make.</p>
                    <p style="font-size: 20px; text-align: justify;">Recharge your Electricity and Cable Tv (Startime, GoTv, DStv etc) on Grock VTU with just a single click. Easy, fast, and cheap with just a little convenience charges.</p>
                </div>
                <div class="col-lg-5 offset-md-1 pt-4 pt-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <img class="img-fluid" alt="Grock VTU" src="images/landingbgg.jpg">
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="services">
        <div class="container">
            <div class="section-title aos-init aos-animate" data-aos="fade-up">
                <h2>Why Choose Grock VTU?</h2>
                <p>Amazing features that makes Grock VTU stand out from other vendors.</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 offset-lg-1 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-check-square"></i></div>
                        <h4 class="title"><a href="">Instant Delivery</a></h4>
                        <p class="description">Grock VTU is simple, fast and easy to use on all mobile phones, desktops. We have you covered on all network providers such as MTN, AIRTEL, GLO, 9MOBILE.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Convenience</a></h4>
                        <p class="description">Recharge your databundle and airtime anytime, anywhere, using any device with internet access. No more rushing to physical locations or waiting in line.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-money"></i></div>
                        <h4 class="title"><a href="">Flexible Payment Options</a></h4>
                        <p class="description">Funding of your wallet is easy and stress-free. Fund your account wallet, purchase your cheap databundle or pay other utility bills for yourself, friends and family with a single click..</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 offset-lg-1 d-flex align-items-stretch mb-5 mb-lg-0  mt-3">
                    <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-shield"></i></div>
                        <h4 class="title"><a href="">Secure</a></h4>
                        <p class="description">We prioritize the security of your personal and financial information. Our robust encryption ensures that your transactions are safe and protected.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 mt-3">
                    <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">Wide Range of Services</a></h4>
                        <p class="description">Whether it's data, airtime, electricity, or cable TV bills, Grock VTU covers it all. No need to visit multiple platforms – we've got you covered in one place.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 mt-3">
                    <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-headphone"></i></div>
                        <h4 class="title"><a href="">Excellent Support</a></h4>
                        <p class="description">We have dedicated support system to help and guide you on needed help with zero waiting time on Chat support.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features" style="background: #9a1e40; color: #fff !important;">
        <div class="container">

            <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="col-md-5">
                    <h4 class="dtext">Why Wait? Get Your Cheap Data Today!</h4>
                    <p style="text-align: justify;">With Grock VTU, you can enjoy the convenience and peace of mind that comes with hassle-free bill payments. Say goodbye to missed deadlines and complicated processes. Join thousands of satisfied customers who trust Grock VTU for their data, airtime, electricity, and cable TV bill payments.</p>
                    <div class="mt-3">
                        <a href="/register" type="button" class="btn btn-get-started registerbtn">Get Started</a>
                    </div>
                </div>
                <div class="col-md-6 offset-md-1">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="icon-box">
                                <i class="ri-store-line" style="color: #ffbb2c;"></i>
                                <h3><a href="">Databundle</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="icon-box">
                                <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                                <h3><a href="">Airtime</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-2">
                            <div class="icon-box">
                                <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                                <h3><a href="">Electricity</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-2">
                            <div class="icon-box">
                                <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
                                <h3><a href="">Cable TV</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials" class="testimonials section-bg" style="display: none">
        <div class="container">
            <div class="section-title aos-init aos-animate" data-aos="fade-up">
                <h2>Testimonials</h2>
                <p>Don't just take our word for it, here are what our customers currently using Grock VTU have to say.</p>
            </div>
            <div class="testimonials-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper" id="swiper-wrapper-319fe8253c507102c" aria-live="off" style="transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="public.html" class="testimonial-img" alt="Grock VTU">
                                <h3>Aminat Eniola</h3>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    A reliable paymet system. Thank you for making my business payment easy to manage.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="0">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="public.html" class="testimonial-img" alt="Grock VTU">
                                <h3>Akintade Bukola</h3>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Thank you for the amazing payment tools available on your system for all the businesses
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="1">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="public.html" class="testimonial-img" alt="Grock VTU">
                                <h3>Uchena Udoma</h3>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Awesome! User friendly API system built on secure, reliable and standard payment system.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="2">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="public.html" class="testimonial-img" alt="Grock VTU">
                                <h3>Kehinde Ojerinde</h3>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    What more can i say. Solving solutions should be the core of life, you've made this possible with this payment system. Thank you.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="3">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="public.html" class="testimonial-img" alt="Grock VTU">
                                <h3>Olajide Segun</h3>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    You are too much Grock VTU. Thank you for this great system for businesses
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-swiper-slide-index="4">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="public.html" class="testimonial-img" alt="Grock VTU">
                                <h3>Aminat Eniola</h3>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    A reliable paymet system. Thank you for making my business payment easy to manage.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="public.html" class="testimonial-img" alt="Grock VTU">
                                <h3>Akintade Bukola</h3>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Thank you for the amazing payment tools available on your system for all the businesses
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div></div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
    </section>
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title aos-init aos-animate" data-aos="fade-up">
                <h2>Contact Us</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="contact-about">
                        <h3>Grock VTU</h3>
                        <p>Say goodbye to missed deadlines and complicated processes. Join thousands of satisfied customers who trust Grock VTU for their data, airtime, electricity, and cable TV bill payments.</p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="info">
                        <div>
                            <i class="ri-map-pin-line"></i>
                            <p>1 EMMANUEL RD3 AVENUE OFF ALUU JUNCTION RUPOKWU, <br> RIVERS STATE</p>
                        </div>
                        <div>
                            <i class="ri-mail-send-line"></i>
                            <p>stockcaptpro@gmail.com</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <form action="#" method="post" role="form" class="php-email-form">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required=""></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="button">Send Message</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<footer id="footer">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 text-lg-left text-center">
                <div class="copyright">
                    © Copyright <strong>Grock VTU</strong>. All Rights Reserved
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                    <a href="#intro" class="scrollto">Home</a>
                    <a href="#about" class="scrollto">About</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Use</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>

<script src="js/aos.js" type="text/javascript"></script>
<script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="js/glightbox.min.js" type="text/javascript"></script>
<script src="js/isotope.pkgd.min.js" type="text/javascript"></script>
<script src="js/swiper-bundle.min.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>

</body></html>